/* include the following code at the top of CSS file. The * character is a wildcard selector and selects everything on the page. It carries extremely low specificity, and we are using the power of inheritance to ensure all elements will inherit box-sizing: border-box */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*end of snippets*/

/*********************/

/*  styles */

/*********************/

h1 {
    font-size: 42px;
    font-family: "OPEN SANS";
    font-weight: 600;
}

hr {
    color: #B18F39;
    width: 3rem;
    margin-top: -1rem;
    margin-left: 0;
}

h2 {
    font-size: 32px;
    font-family: "OPEN SANS";
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-family: "OPEN SANS";
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-family: "OPEN SANS";
    font-weight: 600;
}

nav {
    font-size: 18px;
    font-family: "OPEN SANS";
    font-weight: 400;
}

p {
    font-size: 18px;
    font-family: "OPEN SANS";
    font-weight: 400;
}

button {
    font-size: 16px;
    font-family: "OPEN SANS";
    font-weight: 600;
}

body {
    background-color: #F4F3F0;
}

.topSubtitle {
    text-align: center;
}

.topSubtitleImage {
    width: 80%;
    max-height: 40%;
    margin-left: 10%;
}

.topSubtitleImage img {
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.imageContainer:hover div {
    opacity: 1;
}

.textContainer {
    width: 40%;
}

.textContainer button {
    margin-bottom: 60%;
}

.buttonSend {
    background-color: #B18F39;
    color: #F4F3F0;
    width: 10.5rem;
    height: 2.8rem;
    border: none;
}

.textContainer button:hover {
    background-color: goldenrod;
    color: #F4F3F0;
}

.imageContainer {
    width: 30%;
}

.imageContainer img {
    max-height: 10%;
    max-width: 100%;
}

.navLowRes {
    display: none;
}

.titleArea {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    line-height: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 0 15px;
    vertical-align: middle;
}

.logo {
    font-size: 28px;
    font-family: "OPEN SANS";
    font-weight: 400;
    vertical-align: middle;
    line-height: normal;
}

.boxOverlapping {
    position: relative;
    margin-top: -75%;
    margin-left: -50%;
}

.badge {
    justify-content: center;
    display: flex;
}

.badge img {
    position: relative;
    top: 70px;
}

.spotTitle {
    width: 40%;
    margin-left: 10%;
}

.spotImageRow {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}

.spotImageContainer {
    position: relative;
    text-align: center;
    color: white;
    margin-right: 1%;
    margin-bottom: 1%;
}

.spotImageContainer img {
    max-width: 100%;
    height: 100%;
}

.spotImageTitle {
    position: absolute;
    bottom: 12px;
    right: 0px;
    color: #000000;
    background-color: #F4F3F0;
    border: 12px solid #F4F3F0;
    padding-right: 16px;
}

.tellUsSection {
    background-image: url(./Option1-assets/image8.jpg);
    margin-top: 5%;
}

.tellUsTitle {
    width: 80%;
    margin-left: 10%;
    padding-top: 5%;
}

.tellUsFormContainer {
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    font-family: "OPEN SANS";
    font-weight: 400;
}

.tellUsFormContainer button {
    margin-bottom: 10%;
}

.tellUsFormContainer input {
    border: 1px solid #B18F39;
    margin-top: 1%;
}

.tellUsFormContainer textarea {
    border: 1px solid #B18F39;
    margin-top: 1%;
}

.nameAndEmailContainer {
    display: flex;
    justify-content: left;
}

.emailContainer {
    margin-left: 1rem;
}

.messageContainer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

textarea {
    resize: none;
    width: 50%;
    height: 12rem;
}

.wordsFromClientsSection {
    width: 80%;
    margin-left: 10%;
}

.wordsFromClientsContainer {
    display: flex;
    margin-top: 5%;
    margin-bottom: 8%;
    border-left: 3px solid #B18F39;
    max-width: 60%;
}

.clientMessageAndInfo {
    margin-left: 5%;
}

.clientInfo {
    display: flex;
}

.clientCircularPhoto {
    width: 15%;
}

.clientCircularPhoto img {
    max-width: 100%;
    border-radius: 50%;
}

.clientNameAndTitle {
    text-align: left;
    margin: 5%;
    font-family: 'OPEN SANS', serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.clientName {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.clientRightArrow {
    margin-left: auto;
}

.arrow {
    display: flex;
    padding-top: 50%;
}

.line {
    width: 6rem;
    background: #B18F39;
    height: 2px;
}

.pointyHead {
    border: solid #B18F39;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    margin-top: -3px;
    left: -7px;
}

.wordsFromClientsImage {
    max-width: 100%;
    overflow: hidden;
}

.wordsFromClientsImage img {
    max-width: 100%;
    margin: -20% 0 -10% 0;
}

.footerArea {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.footArea h4 {
    margin: 0% 0% 30% 0%;
    vertical-align: top;
}

.footerArea .logo {
    vertical-align: top;
}

.footerSocials {
    width: 70%;
    display: flex;
    justify-content: right;
}

.footerSocialsGroup {
    margin-left: 10%;
    margin-top: -2%;
}

.footerSocialsGroup div {
    margin-bottom: 10%;
}

.footerSocials a {
    text-decoration: underline;
}

.footerContactInfo div {
    margin-top: 1.5rem;
    font-family: 'OPEN SANS', serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.footerContactInfo .email {
    font-weight: bold;
}

.footerArea hr {
    display: none;
}

/* Attributes for small screens */

@media screen and (max-width: 600px) {

    /* Header and navigation area */
    .titleArea {
        width: 90%;
        margin-left: 5%;
    }

    .navHighRes {
        display: none;
    }

    .navLowRes {
        display: block;
    }

    .navLowRes span {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .topSubtitleImage {
        width: 90%;
        margin-left: 5%;
    }

    /* Our patience area */
    .wrapper {
        display: block;
        width: 90%;
    }

    .textContainer {
        width: 100%;
    }

    .textContainer button {
        margin-bottom: 5%;
    }

    .buttonSend {
        width: 100%;
    }

    .imageContainer {
        width: 65%;
        margin-left: auto;
    }

    /* Spotlight area */
    .spotTitle {
        width: 90%;
        margin-left: 5%;
    }

    .spotImageRow {
        display: block;
        width: 90%;
        margin-left: 5%;
    }

    .spotImageContainer {
        margin-right: 0%;
    }

    /* Tell us area */
    .tellUsTitle {
        width: 90%;
        margin-left: 5%;
    }

    .tellUsFormContainer {
        width: 90%;
        margin-left: 5%;
    }

    .nameAndEmailContainer {
        display: block;
    }

    .emailContainer {
        margin-left: 0;
        margin-top: 1rem;
    }

    .tellUsFormContainer input {
        width: 100%;
        line-height: 2.5;
    }

    .tellUsFormContainer textarea {
        width: 100%;
    }

    /* Words from clients */
    .wordsFromClientsSection {
        width: 90%;
        margin-left: 5%;
    }

    .wordsFromClientsContainer {
        max-width: 90%;
    }

    /* Footer area */
    .footerArea {
        width: 90%;
        margin-left: 5%;
        display: block;
    }

    .footArea h4 {
        margin: 0;
    }

    .footerSocials {
        width: 100%;
        display: block;
    }

    .footerSocialsGroup {
        margin-left: 0%;
    }

    .footerSocialsGroup div {
        margin-bottom: 0%;
    }

    .footerSocialsSubGroup {
        display: flex;
        justify-content: left;
    }

    .footerSocialsSubGroup div {
        margin-right: 10%;
    }

    .footerArea hr {
        display: block;
        color: #9C9B98;
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
}